<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css" />
    <link rel="stylesheet" href="/css/main.css">
    <title>About</title>
</head>

<body>
    <header>
        <nav>
            
            <span id="navbar-brand"><b>WEB322 - Harshil Dineshbhai Thakkar</b></span>
            <a href="/blog">Blog</a>
            <a href="/about">About</a>
            <a href="/posts">Posts</a>
            <a href="/categories">Categories</a>
            <a href="/posts/add">AddPost</a>
        </nav>
    </header>

    <main>
        <table>
            <tr>
                <td>

                    <h2>About</h2>
                </td>
                <td>

                    <h2>Comming soon</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit obcaecati adipisci mollitia
                        enim odit sapiente molestias veniam commodi? Beatae et placeat natus dolor earum incidunt nihil
                        ut perferendis iure, atque dolorem, eveniet impedit nemo explicabo!</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, libero suscipit! Aperiam
                        consequuntur reiciendis doloribus odit iure. Totam, impedit cumque. Non quia, sequi, saepe cum
                        eius fuga praesentium doloremque esse eaque aut natus maiores sit distinctio minus ipsa eos,
                        sunt minima quas ad alias ab?</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium aspernatur praesentium earum
                        ut magnam ad expedita officia minima ipsam, exercitationem cumque, corrupti nihil architecto
                        beatae quam voluptatibus quos cupiditate inventore reprehenderit explicabo obcaecati odit, modi
                        quod debitis? Autem, doloremque nostrum adipisci cumque, consequatur illum magni optio delectus
                        rem temporibus suscipit necessitatibus error perspiciatis quod nemo.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, facere facilis eum
                        obcaecati asperiores porro? Dolorem culpa non earum modi temporibus impedit, placeat quis esse
                        laudantium, voluptatum doloremque optio corrupti et voluptas, excepturi suscipit illo repellat
                        fugit odio dolore quod sed aut nisi! Ea provident at officia nostrum fugit cumque possimus vero
                        voluptas, minima, a deserunt dolorum nihil. Perspiciatis sequi odit sed? Enim, neque numquam.
                    </p>
                </td>
                <td>
                    <p>Stay tuned for future updates…</p>
                </td>
            </tr>
        </table>
    </main>
</body>

</html>